<vanilla-component>
    <script>
        class Review{
            className() {return this.constructor.name }
            initialize(componentObjectId) { this.props.componentObjectId = componentObjectId }
            beforeMount() { }
            afterMount() { }
            beforeUnmount() { }
            afterUnmount() { }
            props = {
                componentObjectId: "",
                url: "",
                firstName: "",
                lastName: "",
                city: "",
                state: "",
                starCount: 0,
                review: "Review Text",
                usefulCount: 0,
                funnyCount: 0,
                coolCount: 0,
            }
        }
    </script>
    <test-script>
    </test-script>
    <style>
    </style>
    <component-markup>
        <article id="{componentObjectId}" class="flex-col w100 overflow-auto">
            <div>
                <include-html include-in="index.html" src="./components/review-header.html" component-class="ReviewHeader" component-id="{componentObjectId}-review-header">
                    <include-props>
                        { 
                            "url": "{url}",
                            "firstName": "{firstName}",
                            "lastName": "{lastName}",
                            "city": "{city}",
                            "state": "{state}"
                        }          
                    </include-props>
                </include-html>
            </div>
            <section id="{componentObjectId}-review-body" class="flex-col">
                <include-html include-in="index.html" src="./components/stars.html" component-class="Stars" component-id="{componentObjectId}-stars">
                    <include-props>{ "editable": false }</include-props>
                    <include-vars>{ "count": {starCount} }</include-vars>
                </include-html>
                <div id="{componentObjectId}-review" class="w100">{review}</div>
                <include-html include-in="index.html" src="./components/useful-funny-cool.html" component-class="UsefulFunnyCool" component-id="{componentObjectId}-ufc">
                    <include-vars>{ "usefulCount": {usefulCount}, "funnyCount": {funnyCount}, "coolCount": {coolCount} }</include-vars>
                </include-html>
            </section>
        </article>
    </component-markup>
</vanilla-component>
