<v-component>
    <script>
        class Button {
            initialize() { console.log(`Initialize.`)}
            beforeMount() { console.log(`Before mount.`)}
            afterMount() { console.log(`After mount.`)}
            vars = {
                x: "Button",
                y: "Y"
            }
        }
        const ddd = function() { 
            alert(`clickity clackity`);
        }
    </script>
    <style>
    </style>
    <markup>
        <button name="{y}" onclick="ddd()">{x}</button>
    </markup>
</v-component>