<v-component>
    <script>
        class Button {
            initialize() { console.log(`Initialize.`)}
            beforeMount() { console.log(`Before mount.`)}
            afterMount() { console.log(`After mount.`)}
            vars = {
                x: "Button",
                y: "Y"
            }
            props = {
                prop1: "value1",
                prop2: "value2"
            }
        }
        const ddd = function() { 
            alert(`clickity clackity`);
            let button =  document.$vanilla.registry.get(`Button1`)
            console.log(button.props.prop1)
            button.props.prop1 = "Should not assign a value to the prop"
            console.log(button.props.prop1)
        }
    </script>
    <style>
        .buttonStyle {
            color: green;
            background-color: red;
        }
    </style>
    <markup>
        <button name="{y}" class="buttonStyle" onclick="ddd()">{x}</button>
    </markup>
</v-component>